<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-7 col-sm-12 col-lg-9 text-center">
        <div class="chart-container">
          <h1 class="chart-heading">Number of employees by each department</h1>
          <canvas id="myChart" class="chart-canvas"></canvas>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-7 col-sm-12 col-lg-9 text-center">
        <div class="chart-container">
          <h1 class="chart-heading">Portion of employees by each department</h1>
          <canvas id="myPieChart" class="chart-canvas"></canvas>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-7 col-sm-12 col-lg-9 text-center">
        <div class="chart-container">
          <h1 class="chart-heading">Number of Employees In Each Department</h1>
          <canvas id="optionalChart" class="chart-canvas"></canvas>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-7 col-sm-12 col-lg-9 text-center">
        <div class="chart-container">
          <h1 class="chart-heading">Employees By Department</h1>
          <canvas id="optionalLineChart" class="chart-canvas"></canvas>
        </div>
      </div>
    </div>
  </div>
</section>
